body{
    font-family:Arial, sans-serif;
    background-color: grey;
}

h1{
    text-align: center;
    color: white;
}

.console{
    background-color: black;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  button{
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 10px;
  }

  button:hover{
    background-color: rgb(255, 166, 0);
  }

  #result{
    margin-top: 20px;
    color: white;
  }
